<div class="col-12 text-center mb-5 m-auto text-cente">
    <div class="m-auto bg-white text-center mt-3 col-12 d-flex flex-column justify-content-center m-auto text-center mt-3 col-12 col-sm-10 col-md-8 col-lg-6 col-xl-7 col-xxl-8 p-3 rounded">
        <div class="d-flex flex-row justify-content-start ms-3">
            <h3 class="d-flex flex-row justify-content-start ms-3">Proyectos</h3>
        </div>
        <div class="d-flex flex-row justify-content-start ms-3">
            <p class="d-flex flex-row justify-content-start ms-3 text-start">
                Soy [Tu Nombre], un desarrollador full stack apasionado por crear soluciones innovadoras y eficientes.
                Aquí encontrarás una selección de mis proyectos más destacados, que reflejan mis habilidades en
                desarrollo web, diseño de interfaces y programación.

                ¡Explora mi trabajo y no dudes en contactarme para colaborar!
            </p>
        </div>
        <div class="row d-flex flex-wrap justify-content-around col-xxl-12 mt-3">
            <div class="col-xxl-3 d-flex flex-column justify-content-center mb-3">
                <div class="card m-auto border-info" style="width: 18rem;">
                    <div class="img-container-portafolio">
                        <img src="../assets/img/salud-mental.png" class="card-img-top img-fluid imagen-portafolio" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gestión Enfermería</h5>
                        <p class="card-text">Una aplicación integral para gestionar el personal y las tareas de enfermería, asegurando una atención eficiente y de calidad.</p>
                        <button class="btn btn-primary btn-md m-auto text-center">Ver Proyecto</button>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 d-flex flex-column justify-content-center mb-3">
                <div class="card m-auto border-info" style="width: 18rem;">
                    <div class="img-container-portafolio">
                        <img src="../assets/img/grafico-de-barras.png" class="card-img-top img-fluid imagen-portafolio" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Ventas</h5>
                        <p class="card-text">Herramienta poderosa para gestionar ventas, inventarios y clientes, optimizando el proceso comercial de tu negocio.</p>
                        <button class="btn btn-primary btn-md m-auto text-center">Ver Proyecto</button>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 d-flex flex-column justify-content-center mb-3">
                <div class="card m-auto border-info" style="width: 18rem;">
                    <div class="img-container-portafolio">
                        <img src="../assets/img/calculadora.png" class="card-img-top img-fluid imagen-portafolio" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Calculadora</h5>
                        <p class="card-text">Una calculadora versátil y fácil de usar para realizar operaciones matemáticas básicas y avanzadas con precisión.</p>
                        <button class="btn btn-primary btn-md m-auto text-center">Ver Proyecto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
